port 26379

sentinel resolve-hostnames yes
sentinel monitor bm-master redis-master 6379 2
sentinel down-after-milliseconds bm-master 5000
sentinel failover-timeout bm-master 60000
sentinel parallel-syncs bm-master 1
sentinel auth-pass bm-master ${REDIS_PASSWORD}
