services:
  # Redis Master
  redis-master:
    build: ./master
    container_name: redis-master
    volumes:
      - redis-master-data:/data
    networks:
      - infra-network
    ports:
      - "7379:6379"

  # Redis Replica 1
  redis-replica1:
    build: ./replica
    container_name: redis-replica1
    depends_on:
      - redis-master
    volumes:
      - redis-replica1-data:/data
    networks:
      - infra-network

  # Redis Replica 2
  redis-replica2:
    build: ./replica
    container_name: redis-replica2
    depends_on:
      - redis-master
    volumes:
      - redis-replica2-data:/data
    networks:
      - infra-network

  # Sentinel 1
  sentinel1:
    build: ./sentinel
    container_name: redis-sentinel1
    depends_on:
      - redis-master
      - redis-replica1
      - redis-replica2
    networks:
      - infra-network
    ports:
      - "26379:26379"

  # Sentinel 2
  sentinel2:
    build: ./sentinel
    container_name: redis-sentinel2
    depends_on:
      - redis-master
      - redis-replica1
      - redis-replica2
    networks:
      - infra-network

  # Sentinel 3
  sentinel3:
    build: ./sentinel
    container_name: redis-sentinel3
    depends_on:
      - redis-master
      - redis-replica1
      - redis-replica2
    networks:
      - infra-network

volumes:
  redis-master-data:
  redis-replica1-data:
  redis-replica2-data:

networks:
  infra-network:
    external: true
